<%= javascript_include_tag "livepipe/livepipe.js"%>
<%= javascript_include_tag "livepipe/window.js"%>
<script type="text/javascript">
//<![CDATA[

var help_modal = null;

document.observe("dom:loaded", function(){
    //Create the modal dialog
  help_modal = new Control.Modal($('help_dialog'),
  {
    overlayOpacity: 0.75,
    className: 'help_modal',
    fade:false

  });
});
//]]>
</script>

<div id="help_dialog" style="display:none;">
  <!-- Inject help modal here -->
  <div>&nbsp;</div>
</div>
